*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    display:flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    background-color: #0f132e;
    color: #eac195;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
}
.links a{
    display: inline-block;
    box-sizing: border-box;
    margin: 20px;
    text-decoration: none;
    color:#eac195;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: 0.7s;
}
.links a:hover{
    border: 2px solid #eac195;
}
i.fa-solid{
    display: none;
}
.cabeçalho i.fa-brands{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
.artigo{
    display: flex;
    background-color: #0f132e;
}
.descriçao{
    display: inline-block;
    width: 50%;
    color: #eac195;
    padding-top: 100px;
    padding-left: 90px;
    font-family: 'Oswald', sans-serif;
}
.descriçao h2{
    font-size: 40px;
    font-weight: 400;
}
.descriçao p{
    font-size: 22px;
    font-weight: 100;   
}
.main{
    width: 100%;
    background-color: lightgrey ;
}
.qds{
    display:flex;
    width: 100%;
    padding: 50px;
    margin: auto;
}
.quadros{
    display:block;
    width:100%;
    background-color: #0f132e;
    padding: 20px;
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    font-family: sans-serif;
    
}
.quadros h3{
    font-size: 28px;
    color:#eac195;

}
.quadros p{
    text-align: justify;
    font-size: 18px;
    color: #eac195;
}



